$sideBarWidth: 210px;
$navBarHeight: 50px;

$navBarBgcolor: #fff;
$sideBarBgcolor: #173568;
$routerUlBgcolor: #173568;
$routerLiBgcolor: #284673;
$routerActiveBgcolor: #20498d;

$breadCurmbColor: #ffffff;

:export {
  sideBarWidth: $sideBarWidth;
  navBarHeight: $navBarHeight;
  navBarBgcolor: $navBarBgcolor;
  sideBarBgcolor: $sideBarBgcolor;
}
